<div class="review-ratings">
  <div class="row">
    <%= JST["reviews/_rating"]({ name: "overall", text: "Overall", avg: avg}) %>
    <%= JST["reviews/_rating"]({ name: "atmosphere", text: "Atmosphere", avg: avg}) %>
    <%= JST["reviews/_rating"]({ name: "family_friendliness", text: "Family Friendliness", avg: avg}) %>
  </div>
  <div class="row">
    <%= JST["reviews/_rating"]({ name: "intensity", text: "Intensity", avg: avg}) %>
    <%= JST["reviews/_rating"]({ name: "wait_times", text: "Wait Times", avg: avg}) %>
    <%= JST["reviews/_rating"]({ name: "cost", text: "Cost", avg: avg}) %>
  </div>
</div>
<hr>