<% if (ThemeParkList.CURRENT_USER.id === review.get("user_id")) { %>
  <div class="reviews-index-item-btn">
    <button class="btn btn-primary" id="edit-review">Edit Review</button>
    <button class="btn btn-danger" id="delete-review">Delete Review</button>
  </div>
<% } %>
<div class="review-container group">
  <%= JST["reviews/_ratings_sm"]() %>
  <div class="review-text">
    <h4><%= review.escape('title') %></h4>
    <p><%= review.escape('written_on') %> by <%= review.escape('author') %></p>
    <p><%= review.escape('body') %></p>
  </div>
</div>
<div class="divider"></div>
