<% if (user) { %>
  <h2><%= review.escape("park_name") %></h2>
<% } %>
<% if (ThemeParkList.CURRENT_USER.id === review.get("user_id")) { %>
  <button class="btn btn-primary" id="edit-review">Edit Review</button>
  <button class="btn btn-danger" id="delete-review">Delete Review</button>
<% } %>
<div class="review-container group">
  <div class="review-show-ratings">
    <div class="row">
      <%= JST["reviews/_rating_show"]({ name: "overall", text: "Overall"}) %>
      <%= JST["reviews/_rating_show"]({ name: "atmosphere", text: "Atmosphere"}) %>
    </div>
    <div class="row">
      <%= JST["reviews/_rating_show"]({ name: "family_friendliness", text: "Family Friendliness"}) %>
      <%= JST["reviews/_rating_show"]({ name: "cost", text: "Cost"}) %>
    </div>
    <div class="row">
      <%= JST["reviews/_rating_show"]({ name: "intensity", text: "Intensity"}) %>
      <%= JST["reviews/_rating_show"]({ name: "wait_times", text: "Wait Times"}) %>
    </div>
  </div>
  <div class="review-text">
    <h4><%= review.escape('title') %></h4>
    <p><%= review.escape('written_on') %> by <%= review.escape('author') %></p>
    <p><%= review.escape('body') %></p>
  </div>
</div>
<div class="divider"></div>
