<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-md-6 show-col">
      <span class="show-label">Trip Advisor Rating</span>
      <span class="show-value rating">
        <%= JST["parks/show_tabs/_score_bar"]({
          score: park.escape("tripadv_rating"), scoreClass: park.scoreClass
        }) %>
      </span>
    </div>
    <div class="col-xs-12 col-md-6 show-col">
      <span class="show-label">Weather Score</span>
      <span class="show-value rating">
        <%= JST["parks/show_tabs/_score_bar"]({
          score: park.weather().score, scoreClass: park.scoreClass
        }) %>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 show-col">
      <span class="show-label info-left">Number of TripAdvisor Ratings</span>
      <span class="show-value info-right"><%= park.escape("num_tripadv_ratings") %></span>
    </div>
    <div class="col-xs-12 col-md-6 show-col">
      <span class="show-label info-left">Location</span>
      <span class="show-value info-right">
        <%= park.escape("city") %>, <%= park.escape("state") %>, <%= park.escape("country") %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 show-col">
      <h4 class="info-list-header">Weather (<%= $(".season.selected-format").text() || "Year" %>)</h4>
      <ul class="info-list">
        <li class="group">
          <span class="show-label info-left">Average High</span>
          <span class="show-value info-right"><%= park.temp(tempUnit, "high") %></span>
        </li>
        <li class="group">
          <span class="show-label info-left">Average Low</span>
          <span class="show-value info-right"><%= park.temp(tempUnit, "low") %></span>
        </li>
        <li class="group">
          <span class="show-label info-left">Average Precipitation</span>
          <span class="show-value info-right"><%= park.weather().precip %> in.</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 col-md-6 show-col">
      <h4 class="info-list-header">Number of Rides</h4>
      <ul class="info-list">
        <li class="group">
          <span class="show-label info-left">Total Rides</span>
          <span class="show-value info-right"><%= park.escape("rides") %></span>
        </li>
        <li class="group">
          <span class="show-label info-left">Roller Coasters</span>
          <span class="show-value info-right"><%= park.escape("roller_coasters") %></span>
        </li>
        <li class="group">
          <span class="show-label info-left">Water Rides</span>
          <span class="show-value info-right"><%= park.escape("water_rides") %></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6 show-col">
      <h4 class="info-list-header">Costs</h4>
      <ul class="info-list">
        <% park.costs().each(function (cost) { %>
          <%= JST["parks/show_tabs/_cost"]({ cost: cost }) %>
        <% }); %>
      </ul>
    </div>
  </div>
</div>