<div class="review-ratings">
  <div class="row">
    <%= JST["parks/show_tabs/_rating"]({ name: "overall", text: "Overall"}) %>
    <%= JST["parks/show_tabs/_rating"]({ name: "atmosphere", text: "Atmosphere"}) %>
    <%= JST["parks/show_tabs/_rating"]({ name: "family_friendliness", text: "Family Friendliness"}) %>
  </div>
  <div class="row">
    <%= JST["parks/show_tabs/_rating"]({ name: "intensity", text: "Intensity"}) %>
    <%= JST["parks/show_tabs/_rating"]({ name: "wait_times", text: "Wait Times"}) %>
    <%= JST["parks/show_tabs/_rating"]({ name: "cost", text: "Cost"}) %>
  </div>
</div>

